# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# Get from posthog dashboard
# Used for the analytics upstream
# NOTE also add this to expo secrets if you are using EAS to build.
POSTHOG_API_KEY=

# Get from sentry dashboard
# Used for the error reporting upstream
# NOTE also add this to expo secrets if you are using EAS to build.
SENTRY_DSN=
